[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hugo-toha/toha.git
[submodule "mon-portfolio/themes/toha"]
	path = mon-portfolio/themes/toha
	url = https://github.com/hugo-toha/toha.git
